<!-- <section>
  <h2>Add New Task</h2>
  <input type="text" [(ngModel)]="task.title" placeholder="title" />
  <input type="text" [(ngModel)]="task.summary" placeholder="summary" />
  <input type="text" [(ngModel)]="task.dueDate" placeholder="dueDate" />
  <button (click)="addTask()">Add Task</button>
</section>
 -->

<div class="backdrop" (click)="onCancel()"></div>
<dialog open>
  <h2>Add Task</h2>
  <!-- 透過ngsubmit來防止html預設的form提交動作 -->
  <form (ngSubmit)="onSubmit()">
    <p>
      <label for="title">Title</label>
      <input type="text" id="title" name="title" [(ngModel)]="enteredTitle" />
    </p>

    <p>
      <label for="summary">Summary</label>
      <textarea
        id="summary"
        rows="5"
        name="summary"
        [(ngModel)]="enteredSummary"
      ></textarea>
    </p>

    <p>
      <label for="due-date">Due Date</label>
      <!-- 就算這邊是設定date，但他還是一樣會是string -->
      <input
        type="date"
        id="due-date"
        name="due-date"
        [(ngModel)]="enteredDate"
      />
    </p>

    <p class="actions">
      <button type="button" (click)="onCancel()">Cancel</button>
      <button type="submit">Create</button>
    </p>
  </form>
</dialog>
